* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.ramen{
    width: 100px;
    height: 100px;
}

header{
    justify-content: space-between;
    align-items: center;
    background-color: #b32929;
    display: flex;
    min-height: 10vh;
    padding: 0px 20px;
}

p {
    font-size: 50px;
}

nav {
    display: flex;
    gap: 35px;
}

nav a {
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
}