* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.ramen{
    width: 100px;
    height: 100px;
}

header{
    align-items: center;
    background-color: #b32929;
    display: flex;
    min-height: 10vh;
    padding: 0px 20px;
}

h1 {
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    gap: 5px;

}

nav a {
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    position: relative;
    left: 450px;
}

.hvr-buttons {
    transition-duration: 0.4s;
}

.hvr-buttons:hover {
    background-color: white;
    color: black;
}
